<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		
<head th:replace="fragments/commonConfig :: config"></head>

<header th:replace="fragments/commonHeader :: header"></header>

<!-- <header th:replace="fragments/commonSidebar :: sidebar"></header> -->

<!-- <section layout:fragment="content"></section> -->
<div th:replace="index :: pageContents"></div>

<footer th:replace="fragments/commonFooter :: footer"></footer>

<!-- th:replace="치환할 html 파일 위치 :: fragment 속성명" -->

</html>
