<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		
<head th:fragment="config">
<meta charset="UTF-8">

<!-- 공통 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link th:href="@{/css/common.css}" rel="stylesheet">
<!-- 컨텐츠페이지 CSS -->
<th:block layout:fragment="css"></th:block>

<!-- 공통 스크립트 -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- 컨텐츠페이지 스크립트 -->
<th:block layout:fragment="script"></th:block>
</head>

</html>